.flex-w {
    display: flex;
    flex-direction: row;
}

.flex-h {
    display: flex;
    flex-direction: column;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ww {
    width: 100%;
}

* {
    box-sizing: border-box;
}