* {
    box-sizing: border-box;
}

.flex-w {
    display: flex;
    flex-direction: row;
}

.flex-h {
    display: flex;
    flex-direction: column;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ww {
    width: 100%;
}

.hh {
    height: 100%;
}

.wwhh {
    width: 100%;
    height: 100%;
}

.expand {
    flex-grow: 1;
}